@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,700&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
}

main {
    display: grid;
    /*grid-template-rows: 40% 22.5% 22.5% 15%;*/
    grid-template-rows: 35% 25% 25% 15%;
    height: 100%;

    max-height: 700px;
}

a {
    color: #be7ff5;
}

a:hover {
    color: #d7acfc;
}

header {
    text-align: center;
    width: 95%;
    max-width: 500px;
    border-radius: 10px;
    margin: 1em auto 1em auto;
    padding: 1em 0 1em 0;
    color: white;
    background-color: black;

    grid-row: 1;
}

header h1 {
    font-size: 3em;
    display: inline-block;
    padding: 0.8em 0.8em 0.5em 0.8em;
    margin: 0.1em;
    border: 6px dotted white;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.subtitle {
    font-size: 1em;
    font-style: italic;
}

.subtitle p {
    margin: 5px;
}


section {
    transition: all 0.5s ease-in;
    width: 75%;
    max-width: 400px;
}


#intro-screen {
    margin: 0 auto 0 auto;
    padding: 0.5em 2em 0.8em 2em;
    border: 4px dotted black;
    border-radius: 20px;
    transition: display 1s;

    grid-row: 2 / 4;
}

#intro-screen div {
    text-align: center;
}



#scores-screen {
    display: none;
    margin: 0 auto 1em auto;
    padding: 0.5em 2em 0.8em 2em;
    border: 4px dotted black;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;

    grid-row: 2;
}

#scores-screen table {
    border-collapse: separate;
    border-spacing: 5px;
}

#scores-screen p {
    margin: 6px 0 0 0;
    vertical-align: middle;
}

#scores-screen th {
    text-align: right;
}

#scores-screen tr {
    width: 100%;
}

#scores-screen td {
    width: 100%;
    padding: 0;
    background: repeating-linear-gradient(
        to right,
        grey 0%,
        grey 0.8%,
        transparent 0.8%,
        transparent 9.2%,
        grey 9.2%,
        grey 10%
    );
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#scores-screen td div {
    min-height: 22px;
}

.destiny {
    background-color: #fcba03;
}

.potatoes {
    background-color: #9ac900;
}

.orcs {
    background-color: #d10a00;
}

#destiny-score {
    background-color: #fcba03;
    width: 0%;
    transition: width 0.8s ease-out;
}

#potatoes-score {
    background-color: #9ac900;
    width: 0%;
    transition: width 0.8s ease-out;
}

#orcs-score {
    background-color: #d10a00;
    width: 0%;
    transition: width 0.8s ease-out;
}


#game-screen {
    display: none;
    margin: 0 auto 1em auto;
    padding: 0 2em 0 2em;
    border: 4px dotted black;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;

    grid-row: 3;
}

#controls {
    display: none;
    margin: 0 auto 0 auto;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: space-around;
    gap: 10px;
    grid-auto-rows: max-content;

    grid-row: 4;
}


button {
    font-family: "Josefin Sans";
    font-size: 1em;
    color: black;
    background: white;
    border: 4px dashed black;
    padding: 10px;
    border-radius: 20px;
    width: 8em;
}

button:disabled {
    color: #5e5e5e;
    background-color: #bdbdbd;
    border-color: #9e9d9d;
}

@media (hover: hover) {
    button:hover:enabled {
        background-color: #be7ff5;
        cursor: pointer;
    }

    button:active:enabled {
        background-color: #9565bf;
        cursor: pointer;
    }
}

#trade-amount {
    padding: 0 2px 0 2px;
}

#trade-btn.modified {
    animation: 0.2s linear 2 alternate flash-red-aura;
}

#trade-amount.modified {
    animation: 0.2s linear 2 alternate flash-red-background;
}

@keyframes flash-red-aura {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: red 0 0 10px 5px;
    }
}

@keyframes flash-red-background {
    from {
        font-weight: normal;
        color: black;
        background-color: none;
    }
    to {
        font-weight: bold;
        color: white;
        background-color: red;
    }
}
